# Node
node_modules/
npm-debug.log*
pnpm-debug.log*

# Next.js
.next/
.next-cache/
out/

# Env & DB
.env
.env.*
!.env.example
prisma/dev.db

# Build/test
dist/
coverage/

# OS/Editor
.DS_Store
.vscode/
.idea/
