export $(grep -v '^#' apps-web.env.example | xargs)
export $(grep -v '^#' apps-api.env.example | xargs)
export $(grep -v '^#' database.env.example | xargs)
export $(grep -v '^#' redis.env.example | xargs)
export $(grep -v '^#' meilisearch.env.example | xargs)
